<div class="card mt20">
  <h1>Update Product</h1>
  <div class="container">


    <div class="row mt10">

      <div class="col-md-6">
        <div class="text-center">
          <img class="img-fluid" height="100px" src="{{product.images}}" width="100px">
        </div>
        <app-upload-file (giveUrlToCreate)="openLoadImage($event)"></app-upload-file>
        <form (ngSubmit)="handle()" [formGroup]="formProduct">
          <mat-form-field appearance="fill" class="w100">
            <mat-label>Enter Title</mat-label>
            <input [(ngModel)]="product.title" formControlName="title" matInput placeholder="Enter Here" type="text">
            <mat-hint
              *ngIf="(formProduct.controls['title'].dirty || formProduct.controls['title'].touched) && formProduct.hasError('required', 'title')"
              class="text-danger">Vui lòng tên sản phẩm !!
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w100">
            <mat-label>Enter description</mat-label>
            <textarea [(ngModel)]="product.description" formControlName="description" matInput placeholder="Enter Here"
                      rows="5" type="text"></textarea>
            <mat-hint
              *ngIf="(formProduct.controls['description'].dirty || formProduct.controls['description'].touched) && formProduct.hasError('required', 'description')"
              class="text-danger">Vui lòng nhập mô tả sản phẩm !!
            </mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w100">
            <mat-label>Enter ImageD</mat-label>
            <input [(ngModel)]="product.config" formControlName="config" matInput placeholder="Enter Here" type="text">
            <mat-hint
              *ngIf="(formProduct.controls['config'].dirty || formProduct.controls['config'].touched) && formProduct.hasError('required', 'config')"
              class="text-danger">Vui lòng them ảnh mô tả !!
            </mat-hint>
          </mat-form-field>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="w100">
                <mat-label>price</mat-label>
                <input [(ngModel)]="product.price" formControlName="price" matInput placeholder="Enter Here"
                       type="number">
                <mat-hint
                  *ngIf="(formProduct.controls['price'].dirty || formProduct.controls['price'].touched) && formProduct.hasError('required', 'price')"
                  class="text-danger">Vui lòng nhập giá tiền !!
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" class="w100">
                <mat-label>discountPrice</mat-label>
                <input [(ngModel)]="product.discountPrice" formControlName="discountPrice" matInput
                       placeholder="Enter Here" type="number">
                <mat-hint
                  *ngIf="(formProduct.controls['discountPrice'].dirty || formProduct.controls['discountPrice'].touched) && formProduct.hasError('required', 'discountPrice')"
                  class="text-danger">Vui lòng nhập số tiền giảm giá !!
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field appearance="fill" class="w100">
            <mat-label>Enter quantity</mat-label>
            <input [(ngModel)]="product.quantum" formControlName="quantum" matInput placeholder="Enter Here"
                   type="text">
            <mat-hint
              *ngIf="(formProduct.controls['quantum'].dirty || formProduct.controls['quantum'].touched) && formProduct.hasError('required', 'quantum')"
              class="text-danger">Nhập số lượng hàng !!
            </mat-hint>
          </mat-form-field>
          <mat-slide-toggle
            [(ngModel)]="product.active"
            [checked]="false"
            class="mt10"
            color="accent"
            formControlName="active">
            Active
          </mat-slide-toggle>

          <!--  <mat-form-field appearance="fill" class="w100">
              <mat-label>Cau hinh</mat-label>
              <input [(ngModel)]="product.productEnum" formControlName="productEnum"
                     matInput
                     type="text">
            </mat-form-field>-->
          <br>
          <!--          category select-->
          <mat-form-field appearance="fill" class="w100 mt10">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="product.category.cateId" formControlName="category">
              <mat-option *ngFor="let item of categories" [disabled]="true" [value]="item.cateId">
                {{ item.title }}
              </mat-option>
            </mat-select>
            <!--            <mat-hint-->
            <!--              *ngIf="(formProduct.controls['category'].dirty || formProduct.controls['category'].touched) && formProduct.hasError('required', 'category')"-->
            <!--              class="text-danger">Vui lòng chọn thể loại !!-->
            <!--            </mat-hint>-->
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="w100 mt10">
            <mat-label>Manufacturer</mat-label>
            <mat-select [(ngModel)]="product.manufacturer.manuId" formControlName="manufacturer">
              <mat-option *ngFor="let item of manufacturers" [value]="item.manuId">
                {{ item.title }}
              </mat-option>
            </mat-select>
            <mat-hint
              *ngIf="(formProduct.controls['manufacturer'].dirty || formProduct.controls['manufacturer'].touched) && formProduct.hasError('required', 'manufacturer')"
              class="text-danger">Vui lòng chọn hãng sản xuất !!
            </mat-hint>
          </mat-form-field>
          <!--          <div [(ngModel)]="product.manufacturer.mId" name="manufacturer">-->
          <!--            <app-combobox></app-combobox>-->
          <!--          </div>-->


          <div class="container text-center">
            <button *ngIf="!isNewProduct" color="primary" mat-raised-button
                    type="submit">Update
            </button>
          </div>

        </form>

      </div>
      <div class="col-6">
        <form [formGroup]="formProduct">
          <div *ngIf="product.laptopConfig" class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Screen</mat-label>
                  <input [(ngModel)]="product.laptopConfig.screen" formControlName="screen" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['screen'].dirty || formProduct.controls['screen'].touched) && formProduct.hasError('required', 'screen')"
                    class="text-danger">Vui lòng nhập loại màn hình !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Graphic</mat-label>
                  <input [(ngModel)]="product.laptopConfig.graphic" formControlName="graphic" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['graphic'].dirty || formProduct.controls['graphic'].touched) && formProduct.hasError('required', 'graphic')"
                    class="text-danger">Vui lòng nhập card màn hình !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>CPU</mat-label>
                  <input [(ngModel)]="product.laptopConfig.cpu" formControlName="cpu" matInput placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['cpu'].dirty || formProduct.controls['cpu'].touched) && formProduct.hasError('required', 'cpu')"
                    class="text-danger">Vui lòng nhập cpu !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Ram</mat-label>
                  <input [(ngModel)]="product.laptopConfig.ram" formControlName="ram" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['ram'].dirty || formProduct.controls['ram'].touched) && formProduct.hasError('required', 'ram')"
                    class="text-danger">Vui lòng nhập ram !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>hardDrive</mat-label>
                  <input [(ngModel)]="product.laptopConfig.hardDrive" formControlName="hardDrive" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['hardDrive'].dirty || formProduct.controls['hardDrive'].touched) && formProduct.hasError('required', 'hardDrive')"
                    class="text-danger">Vui lòng nhập ổ cứng !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Connector</mat-label>
                  <input [(ngModel)]="product.laptopConfig.connector" formControlName="connector" matInput
                         placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['connector'].dirty || formProduct.controls['connector'].touched) && formProduct.hasError('required', 'connector')"
                    class="text-danger">Vui lòng nhập cổng kết nối !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Special</mat-label>
                  <input [(ngModel)]="product.laptopConfig.special" formControlName="special" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['special'].dirty || formProduct.controls['special'].touched) && formProduct.hasError('required', 'special')"
                    class="text-danger">Vui lòng nhập đặc biệt product !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Operating System</mat-label>
                  <input [(ngModel)]="product.laptopConfig.operatingSystem" formControlName="operatingSystem" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['operatingSystem'].dirty || formProduct.controls['operatingSystem'].touched) && formProduct.hasError('required', 'operatingSystem')"
                    class="text-danger">Vui lòng nhập hệ điều hành !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Design</mat-label>
                  <input [(ngModel)]="product.laptopConfig.design" formControlName="design" matInput
                         placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['design'].dirty || formProduct.controls['design'].touched) && formProduct.hasError('required', 'design')"
                    class="text-danger">Vui lòng nhập thiết kế !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Size Mass</mat-label>
                  <input [(ngModel)]="product.laptopConfig.sizeMass" formControlName="sizeMass" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['sizeMass'].dirty || formProduct.controls['sizeMass'].touched) && formProduct.hasError('required', 'sizeMass')"
                    class="text-danger">Vui lòng kích cỡ !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Release Time</mat-label>
                  <input [(ngModel)]="product.laptopConfig.releaseTime" formControlName="releaseTime" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['releaseTime'].dirty || formProduct.controls['releaseTime'].touched) && formProduct.hasError('required', 'releaseTime')"
                    class="text-danger">Vui lòng nhập thời điểm ra mắt !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div *ngIf="product.accessoryConfig" class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>compatible</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.compatible" formControlName="screen" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['screen'].dirty || formProduct.controls['screen'].touched) && formProduct.hasError('required', 'screen')"
                    class="text-danger">Vui lòng nhập loại màn hình !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>resolution</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.resolution" formControlName="graphic" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['graphic'].dirty || formProduct.controls['graphic'].touched) && formProduct.hasError('required', 'graphic')"
                    class="text-danger">Vui lòng nhập card màn hình !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>howToConnect</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.howToConnect" formControlName="cpu" matInput
                         placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['cpu'].dirty || formProduct.controls['cpu'].touched) && formProduct.hasError('required', 'cpu')"
                    class="text-danger">Vui lòng nhập cpu !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>wireLength</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.wireLength" formControlName="ram" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['ram'].dirty || formProduct.controls['ram'].touched) && formProduct.hasError('required', 'ram')"
                    class="text-danger">Vui lòng nhập ram !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>typePin</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.typePin" formControlName="hardDrive" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['hardDrive'].dirty || formProduct.controls['hardDrive'].touched) && formProduct.hasError('required', 'hardDrive')"
                    class="text-danger">Vui lòng nhập ổ cứng !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>weight</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.weight" formControlName="connector" matInput
                         placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['connector'].dirty || formProduct.controls['connector'].touched) && formProduct.hasError('required', 'connector')"
                    class="text-danger">Vui lòng nhập cổng kết nối !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>brand</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.brand" formControlName="special" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['special'].dirty || formProduct.controls['special'].touched) && formProduct.hasError('required', 'special')"
                    class="text-danger">Vui lòng nhập đặc biệt product !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>Madein</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.madeIn" formControlName="operatingSystem" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['operatingSystem'].dirty || formProduct.controls['operatingSystem'].touched) && formProduct.hasError('required', 'operatingSystem')"
                    class="text-danger">Vui lòng nhập hệ điều hành !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>manufacturer</mat-label>
                  <input [(ngModel)]="product.accessoryConfig.manufacturer" formControlName="design" matInput
                         placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['design'].dirty || formProduct.controls['design'].touched) && formProduct.hasError('required', 'design')"
                    class="text-danger">Vui lòng nhập thiết kế !!
                  </mat-hint>
                </mat-form-field>
              </div>

            </div>
          </div>
          <div *ngIf="product.smartPhoneConfig" class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>screen</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.screen" formControlName="screen" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['screen'].dirty || formProduct.controls['screen'].touched) && formProduct.hasError('required', 'screen')"
                    class="text-danger">Vui lòng nhập loại màn hình !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>operatingSystem</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.operatingSystem" formControlName="graphic" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['graphic'].dirty || formProduct.controls['graphic'].touched) && formProduct.hasError('required', 'graphic')"
                    class="text-danger">Vui lòng nhập card màn hình !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>afterCamera</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.afterCamera" formControlName="cpu" matInput
                         placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['cpu'].dirty || formProduct.controls['cpu'].touched) && formProduct.hasError('required', 'cpu')"
                    class="text-danger">Vui lòng nhập cpu !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>beforeCamera</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.beforeCamera" formControlName="ram" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['ram'].dirty || formProduct.controls['ram'].touched) && formProduct.hasError('required', 'ram')"
                    class="text-danger">Vui lòng nhập ram !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>ram</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.ram" formControlName="ram" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['ram'].dirty || formProduct.controls['ram'].touched) && formProduct.hasError('required', 'ram')"
                    class="text-danger">Vui lòng nhập ram !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>storage</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.storage" formControlName="connector" matInput
                         placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['connector'].dirty || formProduct.controls['connector'].touched) && formProduct.hasError('required', 'connector')"
                    class="text-danger">Vui lòng nhập dung luong !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>sim</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.sim" formControlName="special" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['special'].dirty || formProduct.controls['special'].touched) && formProduct.hasError('required', 'special')"
                    class="text-danger">Vui lòng nhập sim !!
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>chip</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.chip" formControlName="operatingSystem" matInput
                         placeholder="Enter Here" type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['operatingSystem'].dirty || formProduct.controls['operatingSystem'].touched) && formProduct.hasError('required', 'operatingSystem')"
                    class="text-danger">Vui lòng nhập hệ điều hành !!
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>pin</mat-label>
                  <input [(ngModel)]="product.smartPhoneConfig.pin" formControlName="design" matInput
                         placeholder="Enter Here"
                         type="text">
                  <mat-hint
                    *ngIf="(formProduct.controls['design'].dirty || formProduct.controls['design'].touched) && formProduct.hasError('required', 'design')"
                    class="text-danger">Vui lòng nhập thiết kế !!
                  </mat-hint>
                </mat-form-field>
              </div>

            </div>
          </div>


        </form>
        <!-- <div class="dropzone"
        appDrag
        (files)="fileDropped($event)"
        >
          <div class="text-wrapper">
            <div class="text-center">
            Drag and drop your file or
            <a (click)="selectFile.click()" class="browse-button">browse</a>
            a file
            </div>
          </div>
        </div> -->
        <div>
          <!--          <input #selectFile (change)="onFileSelected($event)" multiple type="file"-->
          <!--                 value="select">-->
          <app-upload-mutiple-file (giveUrl)="downloadUrl($event)"></app-upload-mutiple-file>

        </div>
        <br>
        <div class="mt10">


          <div class="row">

            <mat-grid-list cols="4" rowHeight="1:1">
              <mat-grid-tile *ngFor="let file of product.imgChildren; let i = index">
                <div style="position: relative">
                  <span (click)="removeImage(file,i)" class="btn-remove-image">x</span>
                  <img class="img-fluid" src="{{file}}" width="100%">
                </div>
              </mat-grid-tile>
            </mat-grid-list>


            <!--                  <div *ngFor="let file of product.productImages; let i = index">-->
            <!--                    <div class="title">-->
            <!--                      <div style="position: relative">-->
            <!--                        <span class="btn-remove-image" (click)="removeImage(i)">x</span>-->
            <!--                        <img  class="img-fluid" [src]="file.url" width="30%">-->
            <!--                      </div>-->
            <!--                    </div>-->
            <!--                  </div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

