<div class="bootstrap-wrapper">
  <div class="container-register100" style="background-image: url('assets/544750.jpg')">
    <div class="row" style="margin-top: 20px">
      <div class="wrap-login100 col-md-6 offset-md-3">
        <h1 class="mt20" style="text-align: center">Reset Password</h1>
        <!--        {{user | json}}-->
        <form (ngSubmit)="formSubmit()" [formGroup]="form">
          <!--          Username field-->
          <mat-form-field appearance="outline" class="full-width" mat-list-item>
            <mat-label>New Password</mat-label>
            <input #pw [(ngModel)]="user.password" formControlName="password" matInput placeholder="Enter Here"
                   required
                   type="password">
            <mat-hint
              *ngIf="(form.controls['password'].dirty || form.controls['password'].touched) && form.hasError('required', 'password')"
              class="text-danger">
              Password is required !!
            </mat-hint>

          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width" mat-list-item>
            <mat-label>Confirm password</mat-label>
            <input #cpw formControlName="confirmPassword" matInput
                   placeholder="Enter Here" required
                   type="password">
            <mat-hint
              *ngIf="(form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched) && form.hasError('required', 'confirmPassword')"
              class="text-danger">
              Password is required!!
            </mat-hint>

          </mat-form-field>
          <!--          <div class="container mb20">-->
          <!--            <a [routerLink]="'/login'">Sign In</a>-->
          <!--          </div>-->
          <div class="container text-center">
            <button [disabled]="form.invalid" class="full-width" color="primary" mat-raised-button
                    style="margin-bottom: 10px" type="submit">Reset password
            </button>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>

