<div class="bootstrap-wrapper">
  <div class="container-register100" style="background-image: url('assets/544750.jpg')">
    <div class="row" style="margin-top: 20px">
      <div class="wrap-login100 col-md-6 offset-md-3">
        <h1 class="mt20" style="text-align: center">Forgot Password</h1>
        <!--        {{user | json}}-->
        <form (ngSubmit)="formSubmit()" [formGroup]="form">
          <!--          Username field-->
          <mat-form-field appearance="outline" class="full-width" mat-list-item>
            <mat-label>Email</mat-label>
            <input [(ngModel)]="sendMail.email" formControlName="email" matInput placeholder="Enter Here"
                   required>
            <mat-hint
              *ngIf="(form.controls['email'].dirty || form.controls['email'].touched) && form.hasError('required', 'email')"
              class="text-danger">
              Email is required !!
            </mat-hint>
            <mat-hint
              *ngIf="(form.controls['email'].dirty || form.controls['email'].touched) && form.hasError('email', 'email')"
              class="text-danger">
              Email not invalid !!
            </mat-hint>
          </mat-form-field>
          <!--          <div class="container mb20">-->
          <!--            <a [routerLink]="'/login'">Sign In</a>-->
          <!--          </div>-->
          <div class="container text-center">
            <button [disabled]="form.invalid" class="full-width" color="primary" mat-raised-button
                    style="margin-bottom: 10px" type="submit">Send mail
            </button>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>

