<div class="mt10">
  <div class="text-center" style="border: 1px solid #9f9b9b;background-color: #b9b2b2">
    <label>
      <div>Upload Image</div>
      <mat-icon>upload_file</mat-icon>
      <input (change)="onFileChange($event)" style="display: none;visibility: hidden" type="file">
    </label>
  </div>
  <!--  <button *ngIf="downloadUrl?!selectedFile:selectedFile" mat-raised-button color="primary"-->
  <!--          (click)="onUpload()">Upload Image-->
  <!--  </button>-->
  <!--  <div *ngIf="downloadUrl" class="mt10">-->

  <!--  </div>-->
</div>
