<div class="container mt10">


  <table [dataSource]="cartDetails" class="mat-elevation-z8" mat-table>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Checkbox">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="selectAll1($event.checked)" [(ngModel)]="selectAll"></mat-checkbox>
      </th>
      <td *matCellDef="let element" mat-cell>
        <mat-checkbox #check (change)="handlerChecked(element.cartId, $event.checked)"
                      [checked]="element.checked"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="Image">
      <th *matHeaderCellDef mat-header-cell> Image</th>
      <td *matCellDef="let element" mat-cell><img class="img-fluid" height="100px" src="{{element.product.images}}"
                                                  width="100px"></td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.product.title}} </td>
    </ng-container>
    <ng-container matColumnDef="DiscountPrice">
      <th *matHeaderCellDef mat-header-cell> Price</th>
      <td *matCellDef="let element"
          mat-cell> {{element.product.discountPrice | currency: 'VND'}} </td>
    </ng-container>
    <ng-container matColumnDef="Quantity">
      <th *matHeaderCellDef mat-header-cell> Quantity</th>
      <td *matCellDef="let element" mat-cell>
        <div class="quantity">
          <button (click)="decrease(element.cartId)" class="quantity-btn" id="decrease"
          >-
          </button>
          <input [(ngModel)]="element.quantity" class="quantity-input" name="quantity" type="text">
          <button (click)="increase(element.cartId)" class="quantity-btn" id="increase">+</button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="Amount">
      <th *matHeaderCellDef mat-header-cell> Total</th>
      <td *matCellDef="let element"
          mat-cell> {{getCalculatedProduct(element.product.pid, element.product.discountPrice, element.quantity) | currency: 'VND'}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th *matHeaderCellDef mat-header-cell> Action</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="delete(element.cartId)" mat-stroked-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>

    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <div align="right" class="mt10">
    <button (click)="handleCheckout()" color="primary" mat-raised-button>Checkout</button>
    <!--    <button data-toggle="modal" data-target="#exampleModal"  mat-raised-button color="primary">edit</button>-->
  </div>
</div>


<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
