<div class="mt30">
  <mat-card class="mt0" style="background-color: #ffffff; height: 500px">
    <mat-action-list>
      <div matSubheader>Menu</div>
      <button mat-list-item routerLink="/shipper">
        <mat-icon mat-list-icon>inventory_2</mat-icon>
        Quản lý đơn hàng
      </button>
      <button mat-list-item routerLink="/shipper/dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        Thống kê
      </button>
      <button mat-list-item routerLink="/shipper/profile">
        <mat-icon mat-list-icon>person</mat-icon>
        Thông tin tài khoản
      </button>

    </mat-action-list>
  </mat-card>
</div>
