.test {
  right: 65px;
  top: 2px;
  height: 30px;
}

mat-grid-tile {
  border: 1px solid lightgray;

}

mat-grid-list {
  position: relative;
}

.abc {
  color: orange;
}

.ratingg {
  gap: 5px;
  margin-top: 50px;
}

i {
  color: #a6a2a2;
}

.home-page-product-image {
  max-width: 90%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
}

mat-grid-list mat-grid-tile .home-page-product-image:hover {
  margin-bottom: 8px;
  margin-top: 0;
  color: #2f80ed;
}

.fs-senullbob {
  width: 100%;
  max-width: 410px;
  margin: 10px auto;
  padding: 19px 12px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
}

.fs-senullbob h4 {
  font-size: 14px;
  font-weight: 700;
  color: #3d3d3d;
  margin-bottom: 10px;
  text-align: left;
}

.fs-senullbob ul li {
  position: relative;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 3px;
}
